#*#
.#*
.DS_Store
*.vagrant
*.hpc
*.tix
cabal.sandbox.config
.shake.database
.shake
**/dist/
**/dist-newstyle/
*.hie
**/*.tfstate.*.backup
**/*.tfstate.blank
**/.terraform/
**/.terragrunt-cache/
**/.stack-work/
**/.stack-work-*/
*.zip
*.pyc
*.deb
*.box
*.swp
*.swo
*.env
.ghci
TAGS
TAGS.mtime
tags
tags.mtime
**/node_modules/
# output by incremental ts build
**/ts-output/
**/dist-test/
**/storybook-static/
*storybook.log
.tern-port
*.log
fact-cache
org/
.vault_pass_*
.certs/
*.pem
# broken symlink if we upload it
.github/workflows/docs
**/cypress/videos/
**/cypress/screenshots/
/swagger/
.envrc
.vault-keys/
/vendor/
/result*
/doc/haddock
ops/deploy/nomad/var
**/junit.xml
**/flycheck_*
/.direnv/
haddocks/
# intellij idea
.idea/
.aider*
